<div class="container my-4">
    <h3>{{ title }}</h3>

    <button class="btn btn-primary" 
    (click)="setOpen()">
        {{open== true? 'Cerrar' : 'Crear usario'}}
    </button>
    <div class="row">
        @if(open) {
            <div class="col">
                <user-form 
                [user]="userSelected" 
                (newUserEventEmitter)="addUser($event)"></user-form>
            </div>
        } @else {
            
            <div class="col">
            <user [users]="users" 
                (idUserEventEmitter)="removeUser($event)"
                (selecteUserEventEmitter)="setSelectedUser($event)"></user>
    
            </div>
        }
    </div>
</div>